@model IEnumerable<MvcNetCoreProceduresEF.Models.Doctor>

@{
    List<string> especialidades = ViewData["ESPECIALIDADES"] as List<string>;
}

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post">
    <label>Especialidad</label>
    <select name="especialidad" class="form form-control">

        @foreach(string especialidad in especialidades){
            <option value="@especialidad">@especialidad</option>
        }
    </select>
    <label>Salario: </label>
    <input type="text" name="salario" 
        class="form form-control"/>
    <button class="btn btn-info">Incrementar salario</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HospitalCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
        </tr>
}
    </tbody>
</table>
